{% extends 'blog/base.html' %}

{% block content %}

<div class="page-header">
  <h1>Knitted Paradise</h1>
  <h4>a Pearl of the Pacific podcast</h4>
</div>
<div class="row">
  <div class="col-xs-12 col-md-9">
    {% for post in posts %}
      <div class="posts">
        <h3><a href="{% url 'episode' pk=post.pk %}">{{ post.title }}</a></h3>
        <p>{{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr>
      </div>
    {% endfor %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/a51bZixHxE8" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p_pyx5WbkHE" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-3">
    <h5>sidebar</h5>
  </div>
</div>

{% endblock %}
